name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
            matrix:
                python: [3.7, 3.8, 3.9, '3.10', '3.11', '3.12']
                urllib3-line: ["lt2", "ge2"]
                exclude:
                  - python-version: "3.7"
                    urllib3-line: "ge2"
                  - python-version: "3.8"
                    urllib3-line: "ge2"
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install deps
        run: |
          pip install -r requirements/requirements.txt
          if [ "${{ matrix.urllib3-line }}" = "lt2" ]; then
            pip install "urllib3<2"
          else
            pip install "urllib3!=2.0.0,<3"
          fi
          pip install -e .
      - name: Install Tox and any other packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/test.txt
      - name: Run Tox
        run: tox -e py
      - name: Install build dependencies
        run: |
          pip install setuptools wheel twine
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*
