name: Python CI

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python: ['3.x']
        steps:
            - uses: actions/checkout@v1
            - name: Setup Python
              uses: actions/setup-python@v1
              with:
                  python-version: ${{ matrix.python }}
            - name: Install Tox and any other packages
              run: pip install -r requirements/test.txt
            - name: Run Tox
              run: tox -e py
            - name: Upload Coverage to codecov
              run: bash <(curl -s https://codecov.io/bash)
