name: Python CI

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                python: [3.6, 3.7, 3.8, 3.9, '3.10', '3.11', '3.12']
                urllib3-line: ["lt2", "ge2"]
                exclude:
                  - python: "3.7"
                    urllib3-line: "ge2"
                  - python: "3.8"
                    urllib3-line: "ge2"
        steps:
            - uses: actions/checkout@v5
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python }}
            - name: Install deps
              run: |
                pip install -r requirements/test.txt
                if [ "${{ matrix.urllib3-line }}" = "lt2" ]; then
                  pip install "urllib3<2"
                else
                  pip install "urllib3!=2.0.0,<3"
                fi
                pip install -e .
            - name: Run Tox
              run: tox -e py
            - name: Upload Coverage to codecov
              run: bash <(curl -s https://codecov.io/bash)
